<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('title.automated') %></h1>
    <p>
      <%= t('body.successful_rent') %><br>
      <%= t('body.title') %>: <%= @book.title %>.<br>
      <%= t('body.author') %>: <%= @book.author %>.<br>
      <%= t('body.genre') %>: <%= @book.genre %>.<br>
      <%= t('body.publisher') %>: <%= @book.publisher %>.<br>
      <%= t('body.year') %>: <%= @book.year %>.<br>
      <%= t('body.image') %>: <%= @book.image %>.
    </p>
    <p>
      <%=t('body.dates', date: @date, initial_date: @rent.initial_date,
           final_date: @rent.final_date)%>.
    </p>
    <p>
      <%= t('body.shilling',url: @url) %>.
    </p>
  </body>
</html>
