<h1><%= t('title.automated') %></h1>
<p> <%= t('body.expired_rent') %> </p>
<p> <%= t('body.title') %>: <%= @book.title %>. </p>
<p> <%= t('body.author') %>: <%= @book.author %>. </p>
<p> <%= t('body.genre') %>: <%= @book.genre %>. </p>
<p> <%= t('body.publisher') %>: <%= @book.publisher %>. </p>
<p> <%= t('body.year') %>: <%= @book.year %>. </p>
<p> <%= t('body.image') %>: <%= @book.image %>. </p>
<p>
  <%= t('body.warning') %>.
</p>
<p>
  <%= t('body.shilling') %>
</p>
